<div class="form-group">
    <label for="title">Job Title</label>
    <input type="text" value="<%= job.title %>" class="form-control" id="title" name="title" required
        placeholder="Enter Title">
</div>
<div class="form-group">
    <label for="description">Job description</label>
    <textarea class="form-control" id="description" name="description" rows="3"
        required> <%= job.description %></textarea>
</div>
<select class="form-control" id="type" name="type">
    <option id="" name="" value="Full-time">Full-time</option>
    <option id="" name="" value="Part-time">Part-time</option>
    <option id="" name="" value="Internship">Internship</option>
</select>
<br>
<button type="submit" class="btn btn-secondary cancel" onclick="closeForm()">Close</button>
<button type="submit" class="btn btn-primary">Update</button>